<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>チャージコントローラー モニター</title>
    <meta charset="utf-8" />

    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var wGraph;
        var wGraphOption;
        var vGraph;
        var vGraphOption;
        var sGraph;
        var sGraphOption;

        // Googleチャートライブラリ読み込み
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(() => {
            initGraph();
            setInterval('updateGraph()', 3000); // 3秒毎にグラフ更新
        });

        // グラフ初期設定
        function initGraph() {
            // 電力グラフ
            wGraph = new google.visualization.AreaChart(document.getElementById("wGraph"));
            wGraphOption = {
                title: "電力推移",
                vAxis: {
                    title: "電力(W)",
                    minValue: 0
                },
                hAxis: {
                    title: "時刻",
                    gridlines: {
                        count: 10
                    },
                    format: "HH:mm:ss"
                },
                chartArea: {
                    left: 70,
                    right: 30,
                    top: 65,
                    bottom: 50,
                    width: "97%",
                    backgroundColor: {
                        fill: "#fff",
                        fillOpacity: 0
                    }
                },
                height: 300,
                bar: {
                    groupWidth: "100%"
                },
                legend: {
                    position: "top"
                },
                backgroundColor: {
                    fill: "#FFF",
                    fillOpacity: 0
                },
                isStacked: false
            }

            // 電圧グラフ
            vGraph = new google.visualization.AreaChart(document.getElementById("vGraph"));
            vGraphOption = {
                title: "電圧推移",
                colors: ['green'],
                vAxis: {
                    title: "電圧(V)"
                },
                hAxis: {
                    title: "時刻",
                    gridlines: {
                        count: 10
                    },
                    format: "HH:mm:ss"
                },
                chartArea: {
                    left: 70,
                    right: 30,
                    top: 65,
                    bottom: 50,
                    width: "97%",
                    backgroundColor: {
                        fill: "#fff",
                        fillOpacity: 0
                    }
                },
                height: 300,
                bar: {
                    groupWidth: "100%"
                },
                legend: {
                    position: "top"
                },
                backgroundColor: {
                    fill: "#FFF",
                    fillOpacity: 0
                },
                isStacked: false
            }

            // 容量グラフ
            sGraph = new google.visualization.AreaChart(document.getElementById("sGraph"));
            sGraphOption = {
                title: "容量推移",
                colors: ['orange'],
                vAxis: {
                    title: "容量(%)"
                },
                hAxis: {
                    title: "時刻",
                    gridlines: {
                        count: 10
                    },
                    format: "HH:mm:ss"
                },
                chartArea: {
                    left: 70,
                    right: 30,
                    top: 65,
                    bottom: 50,
                    width: "97%",
                    backgroundColor: {
                        fill: "#fff",
                        fillOpacity: 0
                    }
                },
                height: 300,
                bar: {
                    groupWidth: "100%"
                },
                legend: {
                    position: "top"
                },
                backgroundColor: {
                    fill: "#FFF",
                    fillOpacity: 0
                },
                isStacked: false
            }
        }

        // グラフ更新
        async function updateGraph() {
            // チャージコントローラーのデータ取得
            let response = await fetch("measure/data");
            let json = await response.json();

            // 電力グラフ描画
            let wGraphData = new google.visualization.DataTable();
            wGraphData.addColumn('datetime', '時刻');
            wGraphData.addColumn('number', '発電電力');
            wGraphData.addColumn('number', '負荷電力');

            let wDatas = json.map(d => [new Date(Date.parse(d[0])), d[1], d[2]]);
            wGraphData.addRows(wDatas);

            wGraph.draw(wGraphData, wGraphOption);

            // 電圧グラフ描画
            let vGraphData = new google.visualization.DataTable();
            vGraphData.addColumn('datetime', '時刻');
            vGraphData.addColumn('number', 'バッテリー電圧');

            let vDatas = json.map(d => [new Date(Date.parse(d[0])), d[3]]);
            vGraphData.addRows(vDatas);

            vGraph.draw(vGraphData, vGraphOption);

            // 電圧グラフ描画
            let sGraphData = new google.visualization.DataTable();
            sGraphData.addColumn('datetime', '時刻');
            sGraphData.addColumn('number', 'バッテリー残量');

            let sDatas = json.map(d => [new Date(Date.parse(d[0])), d[4]]);
            sGraphData.addRows(sDatas);

            sGraph.draw(sGraphData, sGraphOption);
        }

        async function start() {
            await fetch("measure/start", { "method": "POST" });
        }

        async function stop() {
            await fetch("measure/stop", { "method": "POST" });
        }
    </script>
</head>

<body>
    <button onclick="start();">開始</button>
    <button onclick="stop();">停止</button>
    <div id="wGraph" style="width: 100%">
    </div>
    <div id="vGraph" style="width: 100%">
    </div>
    <div id="sGraph" style="width: 100%">
    </div>
</body>

</html>